<article>
	<a href="{{ .Permalink }}">
		<h2 class="card-title text-2xl m-0">
			{{ .Title }}
		</h2>
	</a>

	<div class="flex space-x-4">
		<div class="flex items-center space-x-2">
			<i data-feather="calendar"></i>
			{{ with .Date }}
				<time>{{ .Format "02. Jan 2006." }}</time>
			{{ end }}
		</div>

		<div class="flex items-center space-x-2">
			<i data-feather="clock"></i>
			{{ with .ReadingTime }}
				<time>{{ . }} minute read</time>
			{{ end }}
		</div>
	</div>

	<p class="text-justify">
		{{ .Summary }}
	</p>
</article>

