<header class="min-h-96 flex flex-col justify-center bg-blue-900 bg-opacity-30 mb-16">
	<section class="prose lg:prose-lg dark:prose-dark w-prose mx-auto">
		{{ if eq .Kind "home" }}
			<h1>{{ .Site.Title }}</h1>
			<p class="text-3xl mt-8">{{ .Site.Params.Description }}</p>
		{{ else if eq .Kind "section" }}
			<h1>{{ .Title }}</h1>
			{{ with .Content }}
				<p class="text-3xl mt-8">{{ . }}</p>
			{{ end }}
			<a href="/" class="link-button">Back to home</a>
		{{ else if eq .Type "about" }}
			<h1>{{ .Title }}</h1>
			<p class="text-3xl mt-8">{{ .Description }}</p>
		{{ else if eq .Type "uses" }}
			<h1>{{ .Title }}</h1>
			<p class="text-3xl mt-8">{{ .Description }}</p>
		{{ else }}
			{{ partial "post-header.html" . }}
		{{ end }}
		</div>
	</section>
</header>