<header class="bg-base-200">
	<div class="prose prose-lg mx-auto pt-12 pb-8">
		{{ if eq .Kind "home" }}
			<h1 class="text-5xl text-center font-bold mb-0 p-2">{{ .Site.Title }}</h1>
		{{ else if and (eq .Kind "section") (eq .Section "posts") }}
			<h1 class="text-5xl font-bold">{{ .Title }}</h1>
			{{ with .Content }}
				<p class="text-2xl">{{ . }}</p>
			{{ end }}
			<a href="/" class="link-button">Back to home</a>
		{{ else if eq .Type "info" }}
			<h1 class="text-center mb-0 p-2">{{ .Title }}</h1>
		{{ else if eq .Type "uses" }}
			<h1>{{ .Title }}</h1>
		{{ else }}
			{{ partial "post-header.html" . }}
		{{ end }}
		{{ partial "nav.html" . }}
	</div>
</header>
