<div
	x-data="{open: false}"
	class="md:hidden"
>
	<button
		type="button"
		class="bg-white dark:bg-blurk p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 focus:outline-none"
		aria-expanded="false"
		@click="open = true"
	>
		<span class="sr-only">Open menu</span>
		<!-- Heroicon name: outline/menu -->
		<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
		</svg>
	</button>

	<div
		x-show="open"
		x-transition:enter="duration-200 ease-out"
		x-transition:enter-start="opacity-0 scale-95"
		x-transition:enter-end="opacity-100 scale-100"
		x-transition:leave="duration-100 ease-in"
		x-transition:leave-start="opacity-100 scale-100"
		x-transition:leave-end="opacity-0 scale-95"
		class="absolute top-0 inset-x-0 p-2 transition transform"
		@click.away="open = false"
	>
		<div class="rounded-lg shadow-lg bg-white dark:bg-blurk-300">
			<div class="pt-5 pb-6 px-5">
				<div class="flex items-center justify-between">
					<h1 class="text-2xl font-bold underline hover:text-link dark:hover:text-link-dark"><a href="/">{{ .Site.Title }}</a></h1>
					<div class="-mr-2">
						<button
							type="button"
							class="bg-white dark:bg-blurk-300 p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 focus:outline-none"
							@click="open = false"
						>
							<span class="sr-only">Close menu</span>
							<!-- Heroicon name: outline/x -->
							<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
				</div>
				<nav class="grid gap-y-1 text-lg">
				{{ range .Site.Params.nav }}
					<a href="{{ .link }}" class="underline hover:text-link dark:hover:text-link-dark">{{ .text }}</a>
				{{ end }}
				</nav>
			</div>
		</div>
	</div>
</div>