{{ if (and (not .IsHome) (not (eq .Kind "404"))) }}
	<div class="mt-14 py-8 md:py-14 bg-gray-200 dark:bg-blurk-400">
		<div class="max-w-screen-md mx-4 md:mx-auto text-center">
			{{ if eq .Kind "section"}}
				<h2 class="text-4xl md:text-5xl font-bold">{{ .Title }}</h2>
				{{ with .Content }}
					<div class="prose lg:prose-lg dark:prose-dark mx-auto mt-6">{{ . }}</div>
				{{ end }}
			{{ else if eq .Type "about" }}
				<h2 class="text-4xl md:text-5xl font-bold">{{ .Title }}</h2>
			{{ else }}
				<h2 class="text-4xl md:text-5xl font-bold">{{ .CurrentSection.Title }}</h2>
			{{ end }}
		</div>
	</div>
{{ end }}
